@page "/BookingList"
@inject NavigationManager NavigationManager;
@inject HttpClient http;
@using SheltersApp.Shared.Model

<PageTitle>Booking List</PageTitle>

<!-- Overskrift: -->
<h1 class="mb-3 mt-3">Booking List</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>BookingID   </th>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Shelter</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var booking in bookings)
        {
            <tr>
                <td>@booking.BookingID</td>
                <td>@booking.Name</td>
                <td>@booking.Telefonnr</td>
                <td>@booking.ShelterName</td>
                <td>@booking.StartDate</td>
                <td>@booking.EndDate</td>
                <td>
                    <button class="btn btn-danger" @onclick="() => DeleteBooking(booking.BookingID)">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<button class="btn btn-secondary" @onclick="NavigateToAddBooking">Add New Booking</button>

@code{
    private List<Booking> bookings = new List<Booking>();

    protected override async Task OnInitializedAsync()
    {
        bookings = await http.GetFromJsonAsync<List<Booking>>("api/bookings");
    }


    // Navigér mellem pages
    private void NavigateToAddBooking()
    {
        NavigationManager.NavigateTo("/Booking");
    }

    // Delete funktion
    private async Task DeleteBooking(string bookingId)
    {
        await http.DeleteAsync($"api/bookings/{bookingId}");
        bookings.RemoveAll(b => b.BookingID == bookingId); // Opdater lokal liste efter sletning
    }
}
